@model ModelBinding.Models.Person

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm((string)ViewBag.Action, "Home", (FormMethod)ViewBag.Method))
{ 
    <div class="form-horizontal">

        <h3>Personal info</h3>

        <div class="form-group">
            <label class="control-label col-md-2">First Name:</label>
            <div class="col-md-10">
                <input type="text" name="FirstName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Last Name:</label>
            <div class="col-md-10">
                <input type="text" name="LastName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date of birth:</label>
            <div class="col-md-10">
                <input type="text" name="DoB" class="form-control" placeholder="ddmmyyyy" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Role:</label>
            <div class="col-md-10">
                <select name="Role" class="form-control">
                    <option></option>
                    <option>Admin</option>
                    <option>User</option>
                    <option>Guest</option>
                </select>
            </div>
        </div>

        <h3>Address</h3>

        <div class="form-group">
            <label class="control-label col-md-2">Line 1:</label>
            <div class="col-md-10">
                <input type="text" name="Line1" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Line 2:</label>
            <div class="col-md-10">
                <input type="text" name="Line2" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">City:</label>
            <div class="col-md-10">
                <input type="text" name="City" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Postal code:</label>
            <div class="col-md-10">
                <input type="text" name="PostalCode" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Country:</label>
            <div class="col-md-10">
                <input type="text" name="Country" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button name="submit">Submit</button>
            </div>
        </div>
    </div>
}

